main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  flex-direction: column;
  min-height: 70vh;
  position: relative;
}
.card {
  background: #fff;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  border-radius: 5px;
  
}
.card-title {
  line-height: 1.5;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  color: #17192f;
  margin: 10px 0 2px 0;
}
.card-sub-title {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0 20px 0;
  color: #17192f;
}
.main button {
  height: 65px;
  width: 100%;
  max-width: 445px;
  font-size: 16px;
  font-family: "Hack", monospace;
  padding: 20px;
  line-height: 0;
  vertical-align: top;
  cursor: pointer;
  color: #fff;
  border: 0;
  border-radius: 0px 5px 5px 0px;
  background: #ff9d21;
  box-shadow: 0 4px 10px hsl(34 100% 56% / 0.6);
  transition: 0.1s ease-in;
}
.main button:hover {
  background: #d8932c;
  box-shadow: 0 4px 10px hsl(34 100% 56% / 0.2);
}
form {
  display: flex;
}
input {
  min-width: 400px;
  height: 65px;
  width: 100%;
  border-radius: 5px 0 0 5px;
  background: transparent;
  border: 1px solid #c4c6e2;
  padding: 16px;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  color: #17192f;
  opacity: 0.5;
}


@media screen and (max-width: 768px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  button {
    border-radius: 5px;
    max-width: 100%;
  }
  input {
    margin-bottom: 20px;
    min-width: 100%;
  }
  .card-title {
    font-size: 24px;
  }
  .card-sub-title {
    font-size: 18px;
  }
}
